/* Animations */

@keyframes from-left {
  from {
    left: -5vw;
  }

  to {
    left: -20vw;
  }
}

@keyframes from-right {
  from {
    right: -5vw;
  }

  to {
    right: -20vw;
  }
}

@keyframes from-top {
  from {
    top: -5vw;
  }

  to {
    top: -20vw;
  }
}

@keyframes from-bottom {
  from {
    bottom: -5vw;
  }

  to {
    bottom: -20vw;
  }
}