#carousel {
  background: #95D7AE;

  width: 90vw;
  height: max-content;
  max-height: 70vh;

  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 3;

  border: 4px solid #593C8F;
  border-radius: 6px;

  display: flex;
  overflow: scroll;
}

@media (orientation: portrait) {
  #carousel {
    width: 90vw;
    height: max-content;
    max-height: 70vh;

    flex-direction: column;
  }
}

@media (orientation: landscape) {
  #carousel {
    height: 90vh;
    width: max-content;
    max-width: 90vw;

    flex-direction: row;
  }
}

.large-pic {
  display: block;
  margin: 4px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.shown {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;

  transition: opacity 0.15s ease;
}

.flex {
  display: flex;
}

#timeline {
  flex-direction: column;
  align-items: center;
}

.post {
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption-cntr {
  background: #95D7AE;

  width: max-content;
  max-width: 80vw;
  padding: 15px;

  border: 4px solid #593C8F;
  border-radius: 6px;

  box-shadow: -4px 4px #593C8F;

  /* Prevent the .pics container overlapping when scaled */
  z-index: 2;
}

.caption {
  margin: 0;

  font-size: 18px;
}

.pics {
  position: relative;
  width: 250px;
  height: 250px;

  transition: transform 0.2s;
}

.pics:hover {
  transform: scale(1.1);
}

.pic {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border: 2px solid #593C8F;
  border-radius: 24px;

  position: absolute;
}

.vr {
  height: 75px;
  border-left: 4px dotted #593C8F;
}

footer {
  height: 80px;
}

.fade-in {
  animation: fade 0.15s ease-out;
  animation-delay: 0.1s;
}

.ferns {
  height: 35vw;
  position: fixed;
  margin: auto;

  pointer-events: none;

  z-index: 2;
}

.top-left {
  top: -20vw;
  left: -20vw;
  animation: from-top 3s ease-in-out,
    from-left 3s ease-in-out;

  transform: rotate(90deg);
}

.top-right {
  top: -20vw;
  right: -20vw;
  animation: from-top 3s ease-in-out,
    from-right 3s ease-in-out;

  transform: rotate(180deg);
}

.bottom-left {
  bottom: -20vw;
  left: -20vw;
  animation: from-bottom 3s ease-in-out,
    from-left 3s ease-in-out;
}

.bottom-right {
  bottom: -20vw;
  right: -20vw;
  animation: from-bottom 3s ease-in-out,
    from-right 3s ease-in-out;

  transform: rotate(270deg);
}