#new-post-form {
  width: 90vw;
  max-width: 400px;

  margin: 0 auto;

  animation: fade 1.25s linear;
}

textarea {
  display: block;
  width: calc(100% - 24px);
  resize: vertical;

  background: #95D7AE;
  color: black;

  font-size: 18px;
  padding: 12px;
  margin: 10px 0;

  border-radius: 8px;
}

textarea:active,
textarea:focus-visible {
  outline: solid #DB5461 2px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

#image-upload {
  opacity: 0;
  width: 1px;
}

.image-upload-label {
  color: white;
  background: #DB5461;

  margin: 10px 0;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid #DB5461;

  transition: all 0.3s ease-in-out;
}

button {
  background: #DB5461;
  color: white;

  margin: 10px 0;
  font-size: 18px;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid #DB5461;

  transition: all 0.3s ease-in-out;
}

.image-upload-label:hover,
button:hover {
  background: #BBBDF6;
  color: #DB5461;
  border: 2px solid #DB5461;

  cursor: pointer;
}

/* For initial preview text */
p {
  text-align: center;
}