body {
  margin: 0;
  background: #BBBDF6;
  color: black;

  font-family: "Fredoka", sans-serif;
}

h1 {
  font-family: "Damion", cursive;

  text-align: center;
  margin: 60px 0 20px;

  user-select: none;
  touch-action: none;
}

nav {
  width: 75%;
  margin: 0 auto 30px;
}

a {
  text-decoration: none;
  background: #DB5461;
  color: white;

  margin: 0 40px;
  padding: 12px;
  font-size: 14px;
  border-radius: 12px;
  border: 2px solid #DB5461;

  transition: all 0.3s ease-in-out
}

a:hover {
  background: #BBBDF6;
  color: #DB5461;
  border: 2px solid #DB5461;
}

hr {
  margin: 20px 0;
  border-style: solid;
}

#carousel {
  background: #95D7AE;

  width: 90vw;
  height: max-content;
  max-height: 70vh;

  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 3;

  border: 4px solid #593C8F;
  border-radius: 6px;

  display: flex;
  overflow: scroll;
}

@media (orientation: portrait) {
  #carousel {
    width: 90vw;
    height: max-content;
    max-height: 70vh;

    flex-direction: column;
  }
}

@media (orientation: landscape) {
  #carousel {
    height: 90vh;
    width: max-content;
    max-width: 90vw;

    flex-direction: row;
  }
}

.large-pic {
  display: block;
  margin: 4px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.shown {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;

  transition: opacity 0.15s ease;
}

.post {
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption-cntr {
  background: #95D7AE;

  width: max-content;
  max-width: 80vw;
  padding: 15px;

  border: 4px solid #593C8F;
  border-radius: 6px;

  box-shadow: -4px 4px #593C8F;

  /* Prevent the .pics container overlapping when scaled */
  z-index: 2;
}

.caption {
  margin: 0;

  font-size: 18px;
}

.pics {
  position: relative;
  width: 250px;
  height: 250px;

  transition: transform 0.2s;
}

.pics:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}

.pic {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border: 2px solid #593C8F;
  border-radius: 24px;

  position: absolute;
}

.fade-in {
  animation: fade 0.15s ease-out;
  animation-delay: 0.1s;
}