body {
  margin: 0;
  background: #BBBDF6;
  color: black;

  font-family: "Fredoka", sans-serif;
}

h1 {
  font-family: "Damion", cursive;

  text-align: center;
  margin: 60px 0 20px;
}

nav {
  width: 75%;
  min-width: 500px;
  margin: 0 auto 30px;
}

a {
  text-decoration: none;
  background: #DB5461;
  color: white;

  margin: 0 40px;
  padding: 12px;
  font-size: 14px;
  border-radius: 12px;
  border: 2px solid #DB5461;

  transition: all 0.3s ease-in-out
}

a:hover {
  background: #BBBDF6;
  color: #DB5461;
  border: 2px solid #DB5461;
}

hr {
  margin: 20px 0;
  border-style: solid;
}

.ferns {
  height: 200px;
  position: fixed;
  margin: auto;

  pointer-events: none;

  z-index: -1;
}

.top-left {
  top: -24px;
  left: -24px;
  animation: from-top 1.5s ease-in-out,
    from-left 1s ease-in-out;

  transform: rotate(90deg);
}

.top-right {
  top: -24px;
  right: -24px;
  animation: from-top 1.5s ease-in-out,
    from-right 1s ease-in-out;

  transform: rotate(180deg);
}

.bottom-left {
  bottom: -24px;
  left: -24px;
  animation: from-bottom 1.5s ease-in-out,
    from-left 1s ease-in-out;
}

.bottom-right {
  bottom: -24px;
  right: -24px;
  animation: from-bottom 1.5s ease-in-out,
    from-right 1s ease-in-out;

  transform: rotate(270deg);
}