body {
  margin: 0;
  background: #BBBDF6;
  color: black;

  font-family: "Fredoka", sans-serif;
}

h1 {
  font-family: "Damion", cursive;

  text-align: center;
  margin: 40px 0 20px;

  user-select: none;
  touch-action: none;
}

nav {
  width: 75%;
  margin: 0 auto 30px;
}

a {
  text-decoration: none;
  background: #DB5461;
  color: white;

  margin: 0 40px;
  padding: 12px;
  font-size: 14px;
  border-radius: 12px;
  border: 2px solid #DB5461;

  transition: all 0.3s ease-in-out
}

a:hover {
  background: #BBBDF6;
  color: #DB5461;
  border: 2px solid #DB5461;
}

hr {
  margin: 20px 0;
  border-style: solid;
}

#carousel {
  background: #95D7AE;

  width: 90vw;
  height: max-content;
  max-height: 70vh;

  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 3;

  border: 4px solid #593C8F;
  border-radius: 6px;

  display: flex;
}

@media (orientation: portrait) {
  #carousel {
    width: 90vw;
    height: max-content;
    max-height: 70vh;

    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@media (orientation: landscape) {
  #carousel {
    height: 90vh;
    width: max-content;
    max-width: 90vw;

    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
  }
}

.large-pic {
  display: block;
  margin: 4px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.shown {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;

  transition: opacity 0.15s ease;
}

.post {
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption-cntr {
  background: #95D7AE;

  width: max-content;
  max-width: 80vw;
  padding: 15px;

  border: 4px solid #593C8F;
  border-radius: 6px;

  box-shadow: -4px 4px #593C8F;

  /* Prevent the .pics container overlapping when scaled */
  z-index: 2;
}

.caption {
  margin: 0;

  font-size: 18px;
  margin: 12px 0 0 0;

  white-space: pre-wrap;
}

.date {
  font-size: 14px;
  text-align: left;
  margin: 6px 0 0 6px;
}

.signature {
  font-size: 16px;
  font-style: italic;
  text-align: right;
  margin: 16px 6px 0 0;
}

.pics {
  position: relative;
  width: 250px;
  height: 250px;

  transition: transform 0.2s;
}

.pics:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}

.pic-cntr {
  width: 100%;
  height: 100%;

  background: #BBBDF6;

  border: 2px solid #593C8F;
  border-radius: 24px;

  position: absolute;
}

.pic {
  width: 100%;
  height: 100%;
  border-radius: 22px;
  object-fit: cover;
}

.fade-in {
  animation: fade 0.15s ease-out;
  animation-delay: 0.1s;
}

#loading-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: #BBBDF6aa;
  z-index: 10;
}

.loading-cntr {
  width: 200px;
  margin: 300px auto 0;
  padding-bottom: 24px;
  background: #95D7AE;
  border: 4px solid #593C8F;
  border-radius: 6px;
}

.loading-msg {
  font-size: 20px;
  text-align: center;
  font-style: italic;
  margin-bottom: -60px;
}

/* shamelessly lifted from https://css-loaders.com/dots/ */
.loader {
  width: 60px;
  margin: 100px auto 0;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #593C8F 90%, #593C8F00);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%
  }
}