body {
  margin: 0;
  background: #BBBDF6;
  color: black;

  font-family: "Fredoka", sans-serif;
}

h1 {
  font-family: "Damion", cursive;

  text-align: center;
  margin: 60px 0 20px;

  user-select: none;
  touch-action: none;
}

nav {
  width: 75%;
  margin: 0 auto 30px;
}

a {
  text-decoration: none;
  background: #DB5461;
  color: white;

  margin: 0 40px;
  padding: 12px;
  font-size: 14px;
  border-radius: 12px;
  border: 2px solid #DB5461;

  transition: all 0.3s ease-in-out
}

a:hover {
  background: #BBBDF6;
  color: #DB5461;
  border: 2px solid #DB5461;
}

hr {
  margin: 20px 0;
  border-style: solid;
}